<li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  <i class="fa icon fa-sitemap"></i>
  <p>
    {{ _('{actor} updated the dataset {dataset}').format(
      actor=ah.actor(activity),
      dataset=ah.dataset(activity)
    )|safe }}
    <br />
    <span class="date">
      {{ h.time_ago_from_timestamp(activity.timestamp) }}
      {% if can_show_activity_detail %}
        &nbsp;|&nbsp;
        <a href="{{ h.url_for('dataset.read', id=activity.object_id, activity_id=activity.id) }}">
          {{ _('View this version') }}
        </a>
        {% set can_view_prev_activity = h.check_previous_activity(activity.id) %}
        {% if can_view_prev_activity %}
          &nbsp;|&nbsp;
          <a href="{{ h.url_for('dataset.changes', id=activity.id) }}">
            {{ _('Changes') }}
          </a>
        {% endif %}
      {% endif %}
    </span>
  </p>
</li>
